@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
body {
    font-size: 2em;
    font-family: sans-serif;
    background: linear-gradient(to right rgb(121, 8, 8), rgb(15, 10, 85))fixed;
    padding: 50px;
    margin: 30px;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    background-color: #ffc600;
    padding: 2%;
    border: 1px solid black;
}

nav ul li:hover {
    color: rgb(34, 24, 94);
    background-color: rgb(119, 21, 21);
}

img {
    width: 250px;
    height: 250
    px;
    border: 1px solid black;
}

header {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header div {
padding: 10px;
height: 360px;
}

h1 {
    text-align: center;
}

info {
    background-color: orangered;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
}